<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/stylesheet.css">
		<script src="assets/javascript.js"></script> 
		<title></title>
	</head>
	<body>
		<div id="container">
			<div id="top" class="centerDiv outer">
				<div id="prompt" class="show centerDiv inner">
					Please enter your <%= me %>
				</div>
				<div id="clock" class="hide centerDiv inner">
					<span id="days">
						<div class="value"></div>
						<div class="units">days</div>
					</span>
					<span id="hours">
						<div class="value"></div>
						<div class="units">hours</div>
					</span>
					<span id="minutes">
						<div class="value"></div>
						<div class="units">minutes</div>
					</span>
					<span id="seconds">
						<div class="value"></div>
						<div class="units">seconds</div>
					</span>
				</div>
			</div>
			<div id="bottom" class="centerDiv outer">
				<div id="inputBoxes" class="show centerDiv inner">
					<input type="text" name="month" maxlength="2" onkeyup="return validate(event)" placeholder="mm" />
					<input type="text" name="day" maxlength="2" onkeyup="return validate(event)" placeholder="dd" />
					<input type="text" name="year" maxlength="4" onkeyup="return validate(event)" placeholder="yyyy" />
					<input id="submit" type="image" src="assets/right_arrow.png" onclick="return validate(event)" name="submit"  alt="submit" />
				</div>
				<div id="explanation" class="hide centerDiv inner">
					This is your life, counting down to zero. If you are anything like the average person, you have roughly <span class="explanationDays"></span> days remaining on this planet. That's it. Then it's all over. Make every single one of those days count, because this clock will never stop ticking.
				</div>
			</div>
		</div>
	</body>
</html>
