<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="assets/stylesheet.css" />
		<script src="assets/javascript.js"></script> 
		<title>Life Clock</title>
	</head>
	<body>
		<div id="container">
			<div id="main">
			<div id="top" class="centerDiv outer">
				<div id="prompt" class="show centerDiv inner">
					Please enter your birthday. 
				</div>
			</div>
			<div id="bottom" class="centerDiv outer">
				<form method="POST" action="/clock">
				<div id="inputBoxes" class="show centerDiv inner">
					<input type="text" name="month" maxlength="2" placeholder="mm" onkeyup="return validateBirth(event)" />
					<input type="text" name="day" maxlength="2" placeholder="dd" onkeyup="return validateBirth(event)" />
					<input type="text" name="year" maxlength="4" placeholder="yyyy" onkeyup="return validateBirth(event)" />
					<button type="submit" id="enter" onclick="return validateBirth(event)" onkeyup="return validateBirth(event)">Enter</button>
				</div>
			</form>
			</div>
		</div>
		</div>
		<footer>
			<a href="http://grantbachman.com/about">Grant David Bachman</a>
		</footer>
	</body>
</html>
