<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="assets/favicon.ico" />	
		<link rel="stylesheet" type="text/css" href="assets/stylesheet.css" />
		<script src="assets/javascript.js"></script> 
		<title>Life Clock | Posts</title>
	</head>
<body>
	<div id="posts">
		<div id="main">
			<% posts.each do |post| %>
				<div class="post">
					<div class="pretext"><%= post['days'] %> days writes:</div>
					<%= post['text'] %>
				</div>
			<% end %>
		</div>
	</div>
	<footer>
		<a href="http://grantbachman.com/about">Grant David Bachman</a>
	</footer>

</body>
</html>